body {
  background-color: rgb(33,33,33);
  color: aliceblue;
}

h1 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-size: 35px;
  margin-left: 0.1em;
}

h3 {
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 0.2em;
}

.links {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  color: whitesmoke;
  border: none;
  background-color:rgb(0,146,211);
  padding: 6px;  
}

.links:hover {
  background-color: aqua;
  color: black;
}

.links:visited {
  background-color: blueviolet; 
}

.container {
  text-align: center; 
}

.links1 {
  font-family: Arial, Helvetica, sans-serif
}

.image {
  width: 350px;
  height: auto;
  object-fit: cover;
  border: 5px solid azure;
  margin-left: 0.5em;
}

.image2 {
  width: 280px;
  height: auto;
  object-fit: cover;
  border: 5px solid azure;
  margin-bottom: 2em;

}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-left: 0.5em;
}

.home-link {
  color: steelblue;
}

.home-link:hover {
  color :aquamarine
}

.home-link:visited {
  color: palevioletred;
}